@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@layer utilities {
  .glass-btn {
    width: 165px;
    height: 49px;
    background: linear-gradient(0deg, #0f0f0f, #0f0f0f),
      linear-gradient(0deg, rgba(51, 51, 51, 0.45), rgba(51, 51, 51, 0.45)),
      rgba(153, 153, 153, 0.3);
    background-blend-mode: plus-lighter, luminosity, darken;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 8px rgba(0, 0, 0, 0.12),
      inset 1px 1px 0px -0.5px #333333, inset -1px -1px 0px -0.5px #262626,
      inset 1px 1px 0.5px -1px #ffffff, inset -1px -1px 0.5px -1px #ffffff,
      inset 0px 0px 3px rgba(255, 255, 255, 0.5), inset 0px 0px 16px #f2f2f2;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 34px;
  }
}
